:root {
  --color-blue-light: #e6ecff;
  --color-blue: #4169e1;
  --color-blue-dark: #3354b5;
  --color-red-light: #f64e4e;
  --color-red: #e92020;
  --color-red-dark: #c01717;
  --color-black: #222222;
  --color-rgb-black: 34, 34, 34;
  --color-white: #ffffff;
  --color-rgb-white: 255, 255, 255;
  --color-off-white: #f5f5f5;
  --color-gray-light: #ebebeb;
  --color-gray: #ccc;
  --color-gray-dark: #808080;
  --color-primary: var(--color-blue-light);
  --color-primary-2: var(--color-blue);
  --color-primary-3: var(--color-blue-dark);
  --background-color: var(--color-white);
  --background-color-2: var(--color-off-white);
  --text-color: var(--color-black);
  --shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  --shadow-2: 0 10px 15px rgba(0, 0, 0, 0.1);
  --border-radius: 0.25rem;
  --border-radius-2: 0.5rem;
  --letter-spacing: 1px;
  --small-text: 0.875rem;
  --max-width: 1200px;
  --fluid-width: 90vw;
  --navbar-height: 5rem;
  --footer-height: 10rem;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --delay: 0.25s;
  --transition: var(--delay) ease-in-out all;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
}

h4 {
  font-size: 1rem;
}

p {
  font-weight: 400;
}

li {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

label {
  text-transform: capitalize;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

input:not([type='checkbox']),
select,
textarea {
  padding: 0.375rem;
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--color-white);
  color: var(--text-color);
  font-size: var(--small-text);

  &:focus {
    border-color: var(--color-primary-2);
    box-shadow: 0 0 0 1px var(--color-primary-2);
  }

  &::placeholder {
    color: var(--color-gray-dark);
  }
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--color-primary-2);
  margin: 0;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

svg {
  display: block;
}

.main {
  max-width: var(--max-width);
  width: var(--fluid-width);
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
  margin: 0 auto;
  padding: 4rem 0;

  .section:first-child,
  .section:last-child {
    margin: 0;
  }
}

.section {
  margin: 4rem 0;
}

.section-alt {
  @extend .section;
  background-color: var(--background-color-2);
}

.section-center {
  max-width: var(--max-width);
  width: var(--fluid-width);
  margin: 0 auto;
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

.form {
  display: grid;
  row-gap: 1rem;

  &-title {
    text-align: center
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input:not([type='checkbox']),
  select,
  textarea,
  button {
    width: 100%;
  }

  &-checkbox {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    label {
      margin-bottom: 0;
    }
  }

  &-error {
    color: var(--color-red);
  }
}

.form-card {
  @extend .form;
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.btn {
  display: inline-block;
  padding: 0.375rem;
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--color-primary-2);
  color: var(--color-white);
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  transition: var(--transition);

  &:hover {
    filter: brightness(120%)
  }

  &:disabled {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: inherit;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 1rem;
      height: 1rem;
      border: 4px solid var(--color-white);
      border-right-color: transparent;
      border-radius: 50%;
      animation: spinner 0.5s linear 0s infinite;
    }
  }
}

.btn-flex {
  @extend .btn;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.375rem;
}

.btn-alt {
  @extend .btn;
  background-color: var(--color-black);
}

.btn-alert {
  @extend .btn;
  background-color: var(--color-red);
}

.text-link {
  color: var(--color-primary-2);

  &:hover {
    text-decoration: underline;
  }
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.avatar {
  border-radius: 50%;
}

.company-logo {
  border-radius: var(--border-radius-2);
}

@for $i from 0 through 4 {
  $base: 0.5rem;

  @if $i==0 {
    .mb {
      margin-bottom: $base;
    }

    .mt {
      margin-top: $base;
    }
  }

  @else {
    .mb-#{$i * 2} {
      margin-bottom: $i * 2 * $base;
    }

    .mt-#{$i * 2} {
      margin-top: $i * 2 * $base;
    }
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}