@use '@/app/scss/mixins';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 2rem;

  @include mixins.breakpoint-down(lg) {
    grid-template-columns: unset;
  }
}