.card {
  display: grid;
  row-gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);

  header {
    display: flex;
    column-gap: 1rem;

    p {
      color: var(--color-gray-dark);
    }
  }

  .info {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;

    li {
      padding: 0 0.375rem;
      border-radius: var(--border-radius);
      background-color: var(--color-primary);
      color: var(--color-primary-3);
    }
  }

  .brief {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;

    li {
      display: flex;
      align-items: center;
      column-gap: 0.375rem;

      svg {
        color: var(--color-primary-3);
      }
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
  }
}