.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;

  li {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    span {
      width: 2.5rem;
      height: 2.5rem;
      display: grid;
      place-items: center;
      border-radius: 50%;
      background-color: var(--color-primary);
      color: var(--color-primary-3);
      font-size: 1.2rem;
    }

    h4 {
      margin-bottom: 0.375rem;
    }
  }
}